.fa-twitter {
    font-size: 32px;
}

.fa-github {
    font-size: 32px;
}

.fa-linkedin {
    font-size: 32px;
}

.fa-cloud-download {
    font-size: 32px;
}

.fa-coffee {
    font-size: 32px;
    color: brown
}

.fa-music {
    font-size: 32px;
    color: violet
}

ul {
    list-style-type: none;
}

hr.star-bright,
hr.star-dark {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-bright:after,
hr.star-dark:after {
    content: '\f121';
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-size: 2em;
}

hr.star-bright {
    border-color: brown;
}

hr.star-bright:after {
    color: brown;
    background-color: #e95420;
}