<div class="container" [@enterAnimation]>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1 class="text-center">About this page</h1>
            <p class="text-center"> made with <i class="fa fa-fw fa-coffee"></i> & <i class="fa fa-fw fa-music"></i></p>
            <p class="text-center"> by Hamza Hamidi
                <p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1 class="text-center">Where you can find me</h1>
            <div class="text-center">
                <a rel="nofollow" class="button social" href="https://www.linkedin.com/in/hamzahamidi/" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                <a rel="nofollow" class="button social" href="https://github.com/hamzahamidi" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                <a rel="nofollow" class="button social" href="https://twitter.com/hamzahamidii" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<hr class="star-bright">
<div class="container" [@enterAnimationVetically]>
    <h1 class="text-center">
        Download the project
    </h1>
    <div class="text-center">
        <a href="https://github.com/hamzahamidi/angular-sample">
            <i class="fa fa-fw fa-cloud-download"></i>
        </a>
    </div>
</div>