<nav class=" navbar navbar-default ">
    <div class="container">

        <ul class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
                <a class="nav-link" routerLink="/">
          Premier Modèle
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/material-picker" routerLinkActive="active">
          Deuxieme Modèle
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">
          About
        </a>
            </li>

        </ul>

    </div>
</nav>
<router-outlet></router-outlet>