<nav class=" navbar navbar-default ">
    <div class="container">

        <ul class="nav navbar-nav navbar-left">

            <li class="nav-item">
                <a class="nav-link" routerLink="/time-picker">
          Premier Modèle
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/material-picker">
          Deuxieme Modèle
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/about">
          About
        </a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">
                  Login
                </a>
            </li>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>